body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
}
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width: 120px;
}

#boxesss .boxxx img{
  width: 200px;
}

.link-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

/* Gaya untuk masing-masing link-box */
.link-box {
    background: #fff;
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 8px;
}
